# -------------------- IDENTITY --------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity
spec:
  replicas: 1
  selector:
    matchLabels:
      app: identity
  template:
    metadata:
      labels:
        app: identity
    spec:
      containers:
        - name: identity
          image: diopsysteme/ashia-nest:1.0
          imagePullPolicy: Always
          env:
            - name: APP_NAME
              value: "identity"
            - name: PORT
              value: "3001"
          ports:
            - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: identity
spec:
  type: ClusterIP
  selector:
    app: identity
  ports:
    - port: 3001
      targetPort: 3001

# -------------------- FILEMANAGEMENT --------------------
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: filemanagement
spec:
  replicas: 1
  selector:
    matchLabels:
      app: filemanagement
  template:
    metadata:
      labels:
        app: filemanagement
    spec:
      containers:
        - name: filemanagement
          image: diopsysteme/ashia-nest:1.0
          imagePullPolicy: Always
          env:
            - name: APP_NAME
              value: "filemanagement"
            - name: PORT
              value: "3002"
          ports:
            - containerPort: 3002
---
apiVersion: v1
kind: Service
metadata:
  name: filemanagement
spec:
  type: ClusterIP
  selector:
    app: filemanagement
  ports:
    - port: 3002
      targetPort: 3002

# -------------------- MESSAGING --------------------
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: messaging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: messaging
  template:
    metadata:
      labels:
        app: messaging
    spec:
      containers:
        - name: messaging
          image: diopsysteme/ashia-nest:1.0
          imagePullPolicy: Always
          env:
            - name: APP_NAME
              value: "messaging"
            - name: PORT
              value: "3003"
          ports:
            - containerPort: 3003
---
apiVersion: v1
kind: Service
metadata:
  name: messaging
spec:
  type: ClusterIP
  selector:
    app: messaging
  ports:
    - port: 3003
      targetPort: 3003

# -------------------- GATEWAY --------------------
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: diopsysteme/ashia-nest:1.0
          imagePullPolicy: Always
          env:
            - name: APP_NAME
              value: "gateway"
            - name: PORT
              value: "3000"
            - name: IDENTITY_URL
              value: "http://identity:3001"
            - name: FILE_URL
              value: "http://filemanagement:3002"
            - name: MESSAGING_URL
              value: "http://messaging:3003"
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080
